
body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

//vendor
@import '../vendor/web-fonts-with-css/scss/fontawesome.scss';

//mixins
@import 'mixins/handy';

//functions
@import 'functions/colors';

//setting imports
@import 'settings/type';
@import 'settings/colors';

//component imports
@import 'components/wheel';
@import 'components/type/font';
@import 'components/btn/basic';
@import 'components/btn/social';

//layout
@import 'layout/login';
@import 'layout/login-welcome';



//troep

body{
  color: color(blue, 500);
}
