<section class="page-answers" [class.has-modal-open]="modalOpen">
  <a (click)="modalOpen = true" class="info info">i</a>
    <div class="modal">
      <a (click)="modalOpen = false" class="info info">x</a>
      <div class="modal-inner">
        <div class="modal-content">
            <h2>Antwoorden van anderen</h2>
            <p>
              Je hebt eerst vanuit jouw perspectief gekeken.
              Nu zie je wat anderen hebben geantwoordt, wat vind je hiervan?
              Kies het antwoord dat je het beste vind.
            </p>
            <a (click)="modalOpen = false" class="btn">begrepen</a>
        </div>
      </div>
    </div>

    <div class="answers">
        <div class="answers-inner">
            <h2 class="type">{{question.data.Title}}</h2>
            <ul class="answers-list" *ngIf="!question.data.Type" >
                <li [routerLink]="'literature'" *ngFor="let a of answers"><a>{{a.Answer}}</a></li>
            </ul>
            <ul class="answers-list answers-list-img" *ngIf="question.data.Type == 'drawing'" >
                <li [routerLink]="'literature'" *ngFor="let a of answers"><a>
                  <img [src]="a.Answer" alt="">
                </a></li>
            </ul>
            <ul class="answers-list answers-list-sound" *ngIf="question.data.Type == 'sound'" >
                <li *ngFor="let a of answers"><a>
                  <!-- <a (click)="playThis($event)" class="btn btn-circle">
                    <span class="fas fa-play"></span>
                    <span class="fas fa-pause"></span>
                  </a> -->
                  <audio volume="1.0" controls [src]="a.Answer"></audio>
                  <a [routerLink]="'literature'" class="btn btn-xs">kies</a>
                </a></li>
            </ul>
        </div>
    </div>

</section>


