<!-- <div class="page-heading">
  <h1>Je hebt alle vragen gehad!</h1>
</div>

<p>
  battles-completed works!
</p>

<button [routerLink]="'/discover'" class="btn btn-primary" > volgende</button> -->


<div class="page page-done">
  <div class="page-inner">
    <div class="box-center">
        <span class="fas fa-check fa-5x"></span>
        <h2>Je hebt alle <br>rondes gehad!</h2>
        <p>Leuk dat je hebt meegespeelt</p>
        <!-- <a [routerLink]="'/discover'" class="btn btn-primary">volgende</a> -->
    </div>
  </div>
</div>
