<!-- <div class="page-heading">
  <h1>Wat denk jij?</h1>
</div> -->

<ng-container *ngIf="activeQuestion">
<section class="page-question" *ngIf="activeQuestion.data?.Type !== 'drawing' && activeQuestion.data?.Type !== 'sound'">
  <div class="page-inner">
  </div>
  <div class="page-content page-question-inner">
    <h2>{{activeQuestion.data.Title}}</h2>
  </div>

  <div class="page-anwser">
      <label for="anwser">Jouw antwoord</label>
      <input name="anwser" type="text" [(ngModel)]="answerTxt">
      <a *ngIf="answerTxt.length > 2" class="btn btn-primary" [routerLink]="[activeQuestion.id]">volgende</a>
  </div>

</section>

<section class="answer-draw" *ngIf="activeQuestion.data?.Type === 'drawing'">
  <div class="box-trans-abs">
    <h2 class="type">{{activeQuestion.data.Title}}</h2>
  </div>
  <a *ngIf="inputFilled" class="btn btn-primary btn-next" [routerLink]="[activeQuestion.id]">volgende</a>
  <div class="answer-draw-inner">
    <app-drawing (inputFilled)="handleInputFilled($event)" (inputEmpty)="handleInputEmpty($event)"></app-drawing>
  </div>
</section>

<div class="page page-sound" *ngIf="activeQuestion.data?.Type === 'sound'">
    <div class="box-trans-abs">
      <h2 class="type">{{activeQuestion.data.Title}}</h2>
    </div>
    <app-sound-waves (inputFilled)="handleInputFilled($event)" (inputEmpty)="handleInputEmpty($event)"></app-sound-waves>
    <!-- <a *ngIf="drawing" class="btn btn-primary" [routerLink]="[activeQuestion.id]">volgende</a> -->
    <a *ngIf="inputFilled" class="btn btn-primary page-next" [routerLink]="[activeQuestion.id]">volgende</a>
</div>

<div class="page page-sound" *ngIf="activeQuestion.data?.Type === 'image'">
  <div class="box-trans-abs">
    <h2 class="type">{{activeQuestion.data.Title}}</h2>
  </div>
  <app-foto></app-foto>
  <a *ngIf="inputFilled" class="btn btn-primary page-next" [routerLink]="[activeQuestion.id]">volgende</a>
</div>
</ng-container>


