<div class="page-heading">
  <h1>Wat denk jij?</h1>
</div>


<section class="page-question" *ngIf="activeQuestion.data?.Type !== 'drawing' && activeQuestion.data?.Type !== 'sound'">
  <div class="page-inner">
  </div>
  <div class="page-content page-question-inner">
    <h2>{{activeQuestion.data.Title}}</h2>
  </div>

  <div class="page-anwser">
      <label for="anwser">Jouw antwoord</label>
      <input name="anwser" type="text" [(ngModel)]="answer">
      <a class="btn btn-primary" [routerLink]="[activeQuestion.id]">volgende</a>
  </div>

</section>

<div *ngIf="activeQuestion.data?.Type === 'drawing'">
    <h2>{{activeQuestion.data.Title}}</h2>
    <app-drawing ></app-drawing>
</div>

<div *ngIf="activeQuestion.data?.Type === 'sound'">
    <h2>{{activeQuestion.data.Title}}</h2>
    <app-sound></app-sound>
</div>

