<section class="page-login">

<a [routerLink]="'/welkom'" class="btn btn-primary">volgende</a>

<div class="login-buttons">
  <a class="btn btn-social btn-lg" data-social="facebook" href="">
    <span class="fab fa-facebook-f"></span>
    <span>Facebook</span>
  </a>

  <a class="btn btn-social btn-lg" data-social="google" href="">
    <span class="fab fa-google"></span>
    <span>Google</span>
  </a>

  <a class="btn btn-social btn-lg" data-social="mail" href="">
    <span class="fas fa-envelope"></span>
    <span>Mail</span>
  </a>
</div>

</section>
