
#scene{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#scene > div{
  height: 102vh;
  width: 102vw;
}

#scene > div > div{
  position: absolute;
  top:-1vh;
  bottom:-1vh;
  left:-1vw;
  right: -1vw;
  background-size: cover;
  background-position: center;
}
