<section class="page-login">
 <div class="login-buttons">
    <a [routerLink]="'/welkom'"  class="btn btn-social" data-social="facebook" href="">
      <span class="fab fa-facebook-f"></span>
      <span>Facebook</span>
    </a>

    <a [routerLink]="'/welkom'"  class="btn btn-social" data-social="google" href="">
      <span class="fab fa-google"></span>
      <span>Google</span>
    </a>

    <a [routerLink]="'/welkom'"  class="btn btn-social" data-social="mail" href="">
      <span class="fas fa-envelope"></span>
      <span>Mail</span>
    </a>
  </div>


<div id="scene">
  <!-- <div data-depth="0.07"><div style="background-image: url(assets/img/layers2/13.png)"></div></div>
  <div data-depth="0.08"><div style="background-image: url(assets/img/layers2/12.png)"></div></div>
  <div data-depth="0.10"><div style="background-image: url(assets/img/layers2/11.png)"></div></div>
  <div data-depth="0.13"><div style="background-image: url(assets/img/layers2/10.png)"></div></div>
  <div data-depth="0.15"><div style="background-image: url(assets/img/layers2/9.png)"></div></div>
  <div data-depth="0.18"><div style="background-image: url(assets/img/layers2/8.png)"></div></div>
  <div data-depth="0.22"><div style="background-image: url(assets/img/layers2/7.png)"></div></div>
  <div data-depth="0.26"><div style="background-image: url(assets/img/layers2/6.png)"></div></div>
  <div data-depth="0.30"><div style="background-image: url(assets/img/layers2/5.png)"></div></div>
  <div data-depth="0.34"><div style="background-image: url(assets/img/layers2/4.png)"></div></div>
  <div data-depth="0.5"><div style="background-image: url(assets/img/layers2/3.png)"></div></div>
  <div data-depth="0.6"><div style="background-image: url(assets/img/layers2/2.png)"></div></div>
  <div data-depth="0.7"><div style="background-image: url(assets/img/layers2/1.png)"></div></div> -->

  <div data-depth="-0.07"><div style="background-image: url(assets/img/layers2/13.png)"></div></div>
  <div data-depth="0.08"><div style="background-image: url(assets/img/layers2/12.png)"></div></div>
  <div data-depth="-0.10"><div style="background-image: url(assets/img/layers2/11.png)"></div></div>
  <div data-depth="0.13"><div style="background-image: url(assets/img/layers2/10.png)"></div></div>
  <div data-depth="-0.15"><div style="background-image: url(assets/img/layers2/9.png)"></div></div>
  <div data-depth="0.18"><div style="background-image: url(assets/img/layers2/8.png)"></div></div>
  <div data-depth="-0.3"><div style="background-image: url(assets/img/layers2/7.png)"></div></div>
  <div data-depth="0.2"><div style="background-image: url(assets/img/layers2/6.png)"></div></div>
  <div data-depth="-0.1"><div style="background-image: url(assets/img/layers2/5.png)"></div></div>
  <div data-depth="0.34"><div style="background-image: url(assets/img/layers2/4.png)"></div></div>
  <div data-depth="0.5"><div style="background-image: url(assets/img/layers2/3.png)"></div></div>
  <div data-depth="0.6"><div style="background-image: url(assets/img/layers2/2.png)"></div></div>
  <div data-depth="0.7"><div style="background-image: url(assets/img/layers2/1.png)"></div></div>
</div>

</section>
