<section class="page-login">
 <div class="login-buttons">
    <a [routerLink]="'/welkom'"  class="btn btn-social btn-lg" data-social="facebook" href="">
      <span class="fab fa-facebook-f"></span>
      <span>Facebook</span>
    </a>

    <a [routerLink]="'/welkom'"  class="btn btn-social btn-lg" data-social="google" href="">
      <span class="fab fa-google"></span>
      <span>Google</span>
    </a>

    <a [routerLink]="'/welkom'"  class="btn btn-social btn-lg" data-social="mail" href="">
      <span class="fas fa-envelope"></span>
      <span>Mail</span>
    </a>
  </div>


<div id="scene">
  <div data-depth="0.05"><div style="background-image: url(assets/img/layers/back.png)"></div></div>
  <div data-depth="0.2"><div style="background-image: url(assets/img/layers/top-2.png"></div></div>
  <div data-depth="0.35"><div style="background-image: url(assets/img/layers/top-1.png"></div></div>
  <div data-depth="0.08"><div style="background-image: url(assets/img/layers/top.png"></div></div>
</div>

</section>
