
<!--
<div class="welcome-text">
  <div class="page-inner welcome-text-inner">
    <p>Hi, leuk dat je mee doet. Volg de stappen, het spel wijst zich vanzelf!</p>
    <img src="./assets/img/paper-1.png" alt="papier">
    <a [routerLink]="'/intro'" class="btn btn-primary">volgende</a>
  </div>
</div> -->

<div class="page page-welcome">
  <div class="page-welcome_inner">
    <h1>Start de <br> 1<sup>e</sup> ronde</h1>
    <p>Leuk dat je mee doet! Volg de stappen, het spel wijst zich vanzelf.</p>
    <a [routerLink]="'/intro'" class="btn btn-primary">volgende</a>
  </div>
</div>
