<div class="page-heading">
    <h1>Jouw voorstelling ervaring!</h1>
  </div>

  <div class="remix">
      <iframe width= "400px"
      src="https://www.youtube.com/embed/1mVEt7TNRbI"
      frameborder="0" gesture="media" allow="encrypted-media"></iframe>
  </div>

  <section>
    <div class="share">
      <p>Deel!</p>
      <a class="btn btn-share" data-social="facebook" href="">
        <span class="fab fa-facebook-f"></span>
      </a>

      <a class="btn btn-share" data-social="twitter" href="">
        <span class="fab fa-twitter"></span>
      </a>

      <a class="btn btn-share" data-social="instagram" href="">
        <span class="fab fa-instagram"></span>
      </a>

      <a class="btn btn-share" data-social="whatsapp" href="">
        <span class="fab fa-whatsapp"></span>
      </a>

      <a class="btn btn-share" data-social="google" href="">
        <span class="fab fa-google"></span>
      </a>

    </div>

  </section>


<button [routerLink]="'/discover'" class="btn btn-primary" > volgende</button>
