<div class="page-heading">
    <h1>Jouw voorstelling ervaring!</h1>
  </div>

  <div class="remix">
      <iframe width= "400px" 
      src="https://www.youtube.com/embed/5gywbfL3F58" 
      frameborder="0" gesture="media" allow="encrypted-media"></iframe>
  </div>
  
  <section>
    <div class="share">
      <p>Deel!</p>
      <a class="share-btn" data-social="facebook" href="">
        <span class="fab fa-facebook-f"></span>
      </a>
  
      <a class="share-btn" data-social="twitter" href="">
        <span class="fa fa-twitter"></span>
      </a>
  
      <a class="share-btn" data-social="instagram" href="">
        <span class="fa fa-instagram"></span>
      </a>
  
      <a class="share-btn" data-social="whatsapp" href="">
        <span class="fa fa-whatsapp"></span>
      </a>
  
      <a class="share-btn" data-social="google" href="">
        <span class="fab fa-google"></span>
      </a>
  
    </div>
  
  </section>
  
  
<button [routerLink]="'/literature'" class="btn btn-primary" > volgende</button>
