


  <div id="box">
    <canvas
    (mousedown)="handleMouseDown($event)"
    (mousemove)="handleMouseMove($event)"
    (mouseup)="handleMouseUp($event)"
    #canvas
    [attr.width]="canvasWidth" [attr.height]="canvasHeight"></canvas>
  </div>

  <div class="control">
      <!-- <ul>
        <li *ngFor="let color of colors" [style.backgroundColor]="color" (click)="hue = color"></li>
      </ul> -->
      <!-- <button (click)="setLineWidth(30)">i</button>
      <input type="button" (click)="clearCanvas()" value="Reset"> -->

      <span>
          <a (click)="pencilSizeOpen =! pencilSizeOpen" class="btn btn-primary btn-circle"><span class="fas fa-pencil-alt"></span></a>
          <div class="draw-menu pencil-sizes" *ngIf="pencilSizeOpen">
            <ul>
              <li class="btn btn-primary btn-circle" *ngFor="let brushSize of brushSizes" (click)="setLineWidth(brushSize); pencilSizeOpen = false">
                <span [attr.data]="brushSize"></span>
              </li>
            </ul>
          </div>
      </span>
      <span>
        <a (click)="colorPaletteOpen =! colorPaletteOpen" class="btn btn-primary btn-circle" [style.backgroundColor]="hue"><span class="fas fa-tint"></span></a>
        <div class="draw-menu color-pallete" *ngIf="colorPaletteOpen">
          <ul>
            <li class="btn btn-primary btn-circle" *ngFor="let color of colors" [style.backgroundColor]="color" (click)="hue = color; colorPaletteOpen = false"></li>
          </ul>
        </div>
      </span>
      <a (click)="clearCanvas()" class="btn btn-primary btn-circle"><span class="fas fa-times"></span></a>
  </div>
