
<section class="section-wheel" *ngIf="!selectedArtwork">
    <div class="page-heading">
      <h1>Ronde 1</h1>
      <p>Om de battle te starten moet iemand aan het rad draaien.</p>
    </div>

<!-- <div *ngFor="let a of artworks">
  {{a.id}}: {{a.data | json}}
</div> -->

  <button class="btn btn-primary page-next" (click)="randomArtwork()">Volgende</button>

</section>

<section *ngIf="selectedArtwork && !showCategory">
  <div class="page-heading">
    <h1>Scan het kunstwerk</h1>
    <p>Mik de camera op het kunstwerk en de rest gaat vanzelf.</p>
  </div>


  <!-- {{selectedArtwork | async | json}} -->

<a class="btn btn-primary page-next" (click)="showCategory = true">Volgende</a>

</section>

<section *ngIf="showCategory">
    <h3>{{ activeCategory.Title }}</h3>
    <p>
      {{ activeCategory | async | json}}
    </p>

    <a [routerLink]="'/answer'" class="btn btn-primary">Volgende</a>
</section>


