<section class="page page-discover">
  <header>
    <h2 class="page-title">ontdekken</h2>
    <div class="slider">
        <owl-carousel #owlElement
            [options]="OwlOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let item of artworks; let i = index">
                <img [src]="item.data.image" alt="item.data.title">
            </div>
            <div class="item"></div>
        </owl-carousel>
    </div>
   <div class="layers-buttons">
      <a *ngIf="hasAny(1)" (click)="updateCat = '1'; newcat()" [class.active]="activeCat == '1'" class="btn btn-secondary btn-xs">Vorm</a>
      <a *ngIf="hasAny(2)" (click)="updateCat = '2'; newcat()" [class.active]="activeCat == '2'" class="btn btn-secondary btn-xs">Inhoud</a>
      <a *ngIf="hasAny(3)" (click)="updateCat = '3'; newcat()" [class.active]="activeCat == '3'" class="btn btn-secondary btn-xs">Functie</a>
      <a *ngIf="hasAny(4)" (click)="updateCat = '4'; newcat()" [class.active]="activeCat == '4'" class="btn btn-secondary btn-xs">Context</a>
      <a *ngIf="hasAny(5)" (click)="updateCat = '5'; newcat()" [class.active]="activeCat == '5'" class="btn btn-secondary btn-xs">Samenhang</a>
      <a *ngIf="hasAny(7)" (click)="updateCat = '7'; newcat()" [class.active]="activeCat == '7'" class="btn btn-secondary btn-xs">Betekenis</a>
      <a *ngIf="hasAny(8)" (click)="updateCat = '8'; newcat()" [class.active]="activeCat == '8'" class="btn btn-secondary btn-xs">Beteknis maker</a>
   </div>
  </header>
  <section class="slider-content" *ngIf="questions">
    <blockquote>
        {{questions[0]?.data.LiteratureTitle}}
    </blockquote>
    <p>
      {{questions[0]?.data.LiteratureText}}
    </p>
  </section>
</section>

<!--
<div id="div-btns">
<button class="button-discover"> Symboliek </button>
<button class="button-discover"> Verhalen </button>
<button class="button-discover"> Modellen </button>
<button class="button-discover"> Mise-en-Scene </button>
<button class="button-discover"> Techniek </button>
<button class="button-discover"> Eindbeeld </button>
</div>

<div class="headline">
 "De dobbelsteen is een onderdeel uit de hel plaat"
</div>

<div>
  <img class="discover-img"src="assets/img/discover-img/sluier/boschgok.png">
  <p>Tim Walker</p>
</div>

<div class= "discover-txt"
><p>
Gokken werd gezien als een veradelijk en kwaad tijdverdrijf.
<br><br>
In het schilderij van Bosch spelen niet de mensen maar de andere wezens de spellen.
De mensen worden gemarteld. Het lijkt erop alsof er iets op het spel stond.
<br><br>
In tegenstelling tot veel andere werken uit die tijd worden hier de mensen
ook mentaal gemarteld. In andere werken komt alleen fysieke marteling voor.
</p>
</div>

<div>
  <img class="discover-img" src="assets/img/discover-img/sluier/twgok.png">
  <p>Tim Walker</p>
</div>

<div class= "discover-txt"
><p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores ullam fugit, id, illum possimus labore eos iure et velit voluptate sapiente dignissimos debitis similique quas quos maxime deserunt mollitia incidunt.
</p>
</div> -->
