
.answer-draw{
  canvas {
   // transform: scale(1.165);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
  &-inner{
    @include abs();
    overflow: hidden;
  }
  .box-trans {
    @include h{pointer-events: none;}
  }

  .btn-next {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: auto;
    right: 20px;
    width: calc(100% - 170px);
    padding: 12px 12px;
  }

  .control {
    position: absolute;
    bottom: 20px;
    left: 10px;
}
}

