
.anwsers {
  list-style: none;
  padding: 0;

  li {
    background: rgba(white, .3);
    padding: 20px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    position: relative;

    &:before {
        content: "“";
        font-family: $heading-font;
        font-size: 4em;
        position: absolute;
        left: -10px;
        top: -20px;
    }
  }
}
