
.page-category{
  background-image: url('/assets/img/paper-2.png');
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover;

  &-inner{
    @include centralize();
    background: #ffffffb3;
    padding: 20px;
    text-align: center;
    left: 36%;
    top: 40vh;
    width: 220px;
  }
}
