.welcome-text{
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;

  &-inner{

  }

   img{
    width: 120vw;
    height: auto;
    margin-left: calc(-20vw + -20px);
   }
  }

