
.page-discover{

  .page-title{
    text-align: center;
    color: white;
  }

  header{
    background-image: url('/assets/img/literature-background.png');
    background-size: auto 100%;
    padding: 20px 20px 100px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.layers-buttons{
  text-align: center;

  .btn{
    margin: 3px;

    &.active{
      background: #3a88ac;
      color: #fff;
    }
  }
}

.slider-content {
  padding: 30px;
}
