
#container{
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#scratch{
  position: absolute;
  top:0;
  left:0;
}

.scan-artwork{
  img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}
