
.page-inner{
  @include centralize;
  text-align: center;
  border: 3px solid black;
  height: 80vh;
  width: 80vw;
  padding: 5vh 20px;
}

.page-content{
  @include centralize();
  background: rgba(white, .3);
}

.box-trans{
  background: #fffc;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.07);
  display: inline-block;
}
