.share-btn {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    width: 30px;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }

  .remix-text{
    text-align: center;
  }

  .remix{
   padding-top: 10px;
   padding-bottom: 10px;
  }