
.section-wheel{

}

#container{
  background-size: cover;
  background-position: center;
  position: relative;
  width: 412px;
  height: 732px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  // object-fit: cover;
  // width: 100vw;
  // height: 100vh;
}
#scratch{
  position: absolute;
  top:0;
  left:0;
  // object-fit: cover;
  // width: 100vw;
  // height: 100vh;
}

.scan-artwork{
  img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
}
