#div-btns{
    text-align: center;
    padding: 3%;
}

.button-discover {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 60px;
}


.button-discover {
    background-color: white;
    color: black;
    border: 4px solid #e7e7e7;
}

.button-discover:hover {background-color: #e7e7e7;}
