
  <div class="controls">
    <div class="control">
      <label for="width">Line Width:</label>
      <button (click)="setLineWidth(5)">small</button>
      <button (click)="setLineWidth(15)">medium</button>
      <button (click)="setLineWidth(30)">big</button>
    </div>
    <div class="control">
      <ul>
        <li *ngFor="let color of colors" [style.backgroundColor]="color" (click)="hue = color"></li>
      </ul>
    </div>
    <div class="control button">
      <input type="button" (click)="clearCanvas()" value="Reset">

      <button (click)="saveToFire()">save</button>
      <button [attr.download]="img">download</button>
    </div>
  </div>

  <div id="box">
    <canvas
    (mousedown)="handleMouseDown($event)"
    (mousemove)="handleMouseMove($event)"
    (mouseup)="handleMouseUp($event)"
    #canvas
    width="400" height="600"></canvas>
  </div>
